@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="keywords" content="inspiration, About Team, Doing The Right Thing,&nbsp;At The Right Time">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Home-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Content/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.0.14, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
    <meta name="theme-color" content="#bcdfec">
    <meta property="og:title" content="Home 1">
    <meta property="og:type" content="website">
</head>
<body class="u-body">
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">ArtGalleryStore</span>
            <div class="visible-xs">ArtGallery</div>
            <div class="visible-xs">Store</div>
        </a>
        @Html.Action("Summary", "Cart")
    </div>

 <header class="u-clearfix u-header u-header" id="sec-ea43">
        <div class="u-clearfix u-sheet u-sheet-1">
            <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
                <div class="menu-collapse">
                    <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px); color:crimson;">

                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xlink:href="#svg-5c50"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

                    </a>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> @Html.ActionLink("Домой", "Index", "Home")</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> @Html.ActionLink("Интернет магазин", "List", "ArtGallery")</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> @Html.ActionLink("Доступ", "Login", "Account")</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Галерея</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> О бо мне</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Оплата</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Доставка</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Контакты</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Статитьи</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Новости</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link"> Роспись</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="carousel_d2ed">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="1125" data-image-height="1500">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-4107897.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="608" data-image-height="1080">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-7766563.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="1147" data-image-height="1500">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-3802239.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-3261141.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="1000" data-image-height="1500">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-3137073.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="1125" data-image-height="1500">
                            <img class="u-back-image u-expanded" src="~/images/pexels-photo-2438212.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-4c91">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Пример текста. </font>
                    <font style="vertical-align: inherit;">Щелкните, чтобы выделить текстовое поле. </font>
                    <font style="vertical-align: inherit;">Щелкните еще раз или дважды щелкните, чтобы начать редактирование текста.</font>
                </font>
            </p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link">
            @Html.ActionLink("ArtGalleryStory", "Index", "Home")
            <span>&copy;@DateTime.Now.Year</span>
        </a>
    </section>
    @RenderBody()
</body>
</html>
